{% extends "feed/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{# This html file is displayed to the user when they navigate to the 'register' page. #}

    <div class="content-section">
      <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Join Today and Find Your Match!</legend>
              {{ form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Sign Up</button>
          </div>
      </form>
      <div class="border-top pt-3">
          <small>
              Already have an account? <a class="ml-2" href="{% url 'register' %}">Sign In</a>
          </small>
      </div>
    </div>
{% endblock content %}
